---
layout: default
title: Series
permalink: /series/
---
{% assign all_series = site.series | sort: 'order' %}
<section class="page-head wrap">
  <h1 class="display">Series</h1>
</section>
<div class="wrap wide">
  <div class="cards">
    {% for x in all_series %}
    <a class="card" href="{{ x.url | relative_url }}">
      <img src="{{ x.cover | default: x.photos[0].src | relative_url }}" alt="" loading="lazy" decoding="async">
      <span class="card-t">{{ x.title }}</span>
      {% if x.subtitle %}<span class="card-s">{{ x.subtitle }}</span>{% endif %}
    </a>
    {% endfor %}
  </div>
</div>
